

<div id = "Driver-panel" class="col-md-12 col-sm-12 col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading" style = "cursor: pointer;" onclick = "togglePanel('Driver-panel')" >
			<div class="row">
				<div class="col-lg-6 col-xs-6"> nuevo </div>
				<div style="text-align: right;" class="col-lg-6  col-xs-6   ">
					<i class="fa fa-chevron-down"></i>
				</div>
			</div>
		</div>
		<div style = "display: none;" class="panel-body">
			<form id="Driver-form" class="form-horizontal">
				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label ">ddd label </label>
					<div class="col-sm-6">
						<input type="text"	class=" input-sm form-control " name="document"							placeholder="Documento">
					</div>
				</div>

				<div class = "form-group">
					<label class="input-sm col-sm-4 control-label ">ddd label </label>
					<div class="col-sm-6">
						<input type="text"	class=" input-sm form-control " name="document"							placeholder="Documento">
					</div>
				</div>		

			</form>
			<div style = "text-align: right;">
				
				<button type="button" class="btn btn-xs btn-danger" >Cancelar</button>
				&nbsp;
				<button type="button" class="btn btn-xs btn-success">Guardar</button>
			</div>	
		</div>
	</div>
</div>